<!-- Template for home page body -->




<div class="col-md-4">

    <form action="/register" method="POST">
      <div class="form-group">
        <label for="">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>
<div class="col-md-4"
    <form action="/login" method="GET">
      <div class="form-group">
        <label for="">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      
      
      
      <button type="submit" class="btn btn-default">Login</button>
    </form>  
</div>